# Core functionality - changes here should be rare!
/src/app.py                   @Geovani9904
/src/backend/database.py      @Geovani9904
/src/backend/routers/auth.py  @Geovani9904

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Geovani9904
